body {
  font-family: 'Droid Serif', Lora, Georgia, Serif;
  background:#fff;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif', Lora, Georgia, Serif;
}

h6 {
  margin-bottom: .1em;
  margin-top: 1em;
}

p {
  margin: 0em;
  margin-bottom: .1em;
}

p.revision {
  margin: 0.5em;
}
p.revisionquote {
  margin: 0.5em;
  margin-left: 2em;
  font-size: 0.8em;
}

*[class*="col_"].concept-post, *[class*="col_"].list-post {
  background:#fff;
  border:1px solid #CCCCCC;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}

div.tags {
  margin-top: 1em;
  font-size: 0.8em;
  float: right;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

div.updated {
	margin-top: 1em;
	font-size: 0.8em;
}

button.signin {
  display: inline;
}

#signout {
  cursor: pointer;
}

#status {
  font-family: Verdana, Arial, Sans-serif;
  font-size: 0.8em;
  color: #404040;
}

#comment {
  float: right;
  color: #999;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 21px;
}

a.historik {
  color: #000;
  cursor: pointer;
}

#cboxClose {
  display:none !important;
}

table tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-bottom-width: 1px;
}

#navheader {
  position: fixed;
  background:#F0F0F0;
  border:1px solid #CCC;
  width: 100%;
  top: 0px;
  z-index: 100;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}

#content {
  margin: 75px auto;
}

#footer {
  font-family: verdana, arial, sans-serif; 
  text-align:center;
  padding:20px;
  margin:0;
  border-top:1px solid #ddd;
  color:#aaa;
  font-size:0.7em;
  text-shadow:0px 1px 1px #fff;
  position: relative;
  top:0;
  left:0;
  background:#fff;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;   
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover, .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}