body {
  font-family: 'Droid Serif', Lora, Georgia, Serif;
  background:#fff;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif', Lora, Georgia, Serif;
}

h6 {
  margin-bottom: .1em;
  margin-top: 1em;
}

p {
  margin: 0em;
  margin-bottom: .1em;
}

p.revision {
  margin: 0.5em;
}
p.revisionquote {
  margin: 0.5em;
  margin-left: 2em;
  font-size: 0.8em;
}

*[class*="col_"].concept-post, *[class*="col_"].list-post {
  background:#fff;
  border:1px solid #CCCCCC;
  border-radius: 5px;
}

div.tags {
  margin-top: 1em;
  font-size: 0.8em;
  float: right;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

div.updated {
	margin-top: 1em;
	font-size: 0.8em;
}

button.signin {
  display: inline;
}

#signout {
  cursor: pointer;
}

#status {
  font-family: Verdana, Arial, Sans-serif;
  font-size: 0.8em;
  color: #404040;
}

#comment {
  float: right;
  color: #999;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 21px;
}

a.historik {
  color: #000;
  cursor: pointer;
}

#cboxClose {
  display:none !important;
}

table tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-bottom-width: 1px;
}

#footer {
  font-family: verdana, arial, sans-serif; 
  text-align:center;
  padding:20px;
  margin:0;
  border-top:1px solid #ddd;
  color:#aaa;
  font-size:0.7em;
  text-shadow:0px 1px 1px #fff;
  position: relative;
  top:0;
  left:0;
  background:#fff;
}

.ui-autocomplete {
  font-size: 0.8em;
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}